<div class="container">
  <center><span style="color: red;">*Do not reload untill complete otherwith you will loose assignment.</span></center>
  <div class="row justify-content-md-center">
    <% unless @error.present? %>
      <div class="questions-cards-box col-md-8">
        <%= form_tag process_attempt_student_index_path(@assignment), method: :post do %>
          <div class="question-box">
            <% @questions.each_with_index do |question, indx| %>
              <div class="pb-3 py-3">
                <div class="card card-data question-card">
                  <div class="question_text">
                    <h5><b>Question <%=indx+1%>: </b><%=question.question%></h5>
                  </div>
                  <div class="ansers_box card card-data ">
                    <div class="card card-data answer answer_a form-field"><b>Option A: </b><%=question.answer_a%></div>
                    <div class="card card-data answer answer_b form-field"><b>Option B: </b><%=question.answer_b%></div>
                    <div class="card card-data answer answer_c form-field"><b>Option C: </b><%=question.answer_c%></div>
                    <div class="card card-data answer answer_d form-field"><b>Option D: </b><%=question.answer_d%></div>
                    <div class="form-field">
                      <b>Select your answer: </b>
                      <%= select_tag "assignment[answer_data][#{question.id}]", options_for_select([['Select', nil],['Option A','answer_a'],['Option B','answer_b'],['Option C','answer_c'],['Option D','answer_d']]), {class: 'form-control answer'} %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="submit_assignment">
            <%= submit_tag "Submit", class: 'btn btn-lg btn-success' %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div>
        <h3><%= @error %></h3>
        <h4>Go to <%= link_to 'Assignment Detail page', student_root_path %></h4>
      </div>
    <% end %>
  </div>
</div>
