<div class="container">
  <div class="pb-5 py-3 faculty_question_head_box">
    <div class="faculty_question_heading"><h1>Attemps Details</h1></div>
    <!-- <div class="faculty_question_new_btn">
      <button class="btn btn-primary btn-sm float-right"  data-toggle="modal" data-target="#facultyNewQuestion" id="questionModalButton">
        New Question
      </button>
    </div> -->
  </div>

  <div class="card card-data">
    <div class="questions-table-box">
      <table class="table table-hover table-striped table-sm questions-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="table-success">No.of Questions</th>
            <th scope="col" class="table-info">Score</th>
            <th scope="col" class="table-primary">Percentage</th>
            <th scope="col" class="table-warning">Date</th>
            <th scope="col" class="table-danger">Completed</th>
          </tr>
          <tr>
            <td colspan="8" class="table-default"></td>
          </tr>
        </thead>
        <tbody>
          <% if @assignments.present? %>
            <% @assignments.each_with_index do |assignment, indx| %>
              <%#= render partial: 'question_tr', locals: {question: question, indx: indx} %>
              <tr id="tr_assignment_<%=assignment.id%>" class="assignment_tr">
                <th scope="row"><%= indx.to_i+1 %></th>
                <td class="table-success"><%= assignment.answer_data.count %></td>
                <td class="table-info"><%= assignment.score %></td>
                <td class="table-primary"><%= assignment.percentage %>%</td>
                <td class="table-warning"><%= assignment.created_at.to_date.inspect %></td>
                <td class="table-danger"><%= (assignment.completed ? 'Completed' : 'Not Completed') %></td>
              </tr>
            <% end %>
            <% if @assignments.total_pages>1 %>
              <tr>
                <td colspan="8" class="table-default"></td>
              </tr>
              <tr class="paginate_tr">
                <td colspan="8" class="table-active"><%= paginate @assignments %></td>
              </tr>
            <% end %>
          <% else %>
            <tr class="no_question_found">
              <td colspan="8" class="table-danger">You have not attempted Test yet! Please go to 'Take Test'.</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
