<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-4 col-xs-10 pb-5 py-5" id="new_user_session">
      <div class="card">
        <div class="card-body">
          <h2><center>Log in</center></h2>
          <% if alert.present? %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <%= alert %>
            </div>
            <% end %>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>
            <br>
            <div class="form-field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', class: 'form-control' %>
            </div>
            <br>        
            <% if devise_mapping.rememberable? -%>
              <div class="form-field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions float-right">
              <%= f.submit "Log in", class: 'btn btn-primary' %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
<style>  
  body.devise-sessions-new {
    background: #999;
  }
</style>