<tr id="tr_question_<%=question.id%>" class="question_tr">
  <th scope="row"><%= indx.to_i+1 %></th>
  <td class="table-success"><%= question.question %></td>
  <td class="table-info"><%= question.answer_a %></td>
  <td class="table-primary"><%= question.answer_b %></td>
  <td class="table-info"><%= question.answer_c %></td>
  <td class="table-primary"><%= question.answer_d %></td>
  <td class="table-warning"><%= question.send(question.right_answer) %></td>
  <td class="table-danger"><%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_question_faculty_index_path(question, {indx: indx}), remote: true %></td>
</tr>