<!-- Modal -->
<div class="modal fade" id="facultyNewQuestion" tabindex="-1" role="dialog" aria-labelledby="facultyNewQuestionTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="facultyNewQuestionTitle">New Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render partial: 'question_form', locals: {que_id: nil} %>
    </div>
  </div>
</div>
<script>
  $('.modal#facultyNewQuestion').on('hidden.bs.modal', function(){
    resetQuestionForm()
  })
</script>