<%= form_for @question, url: {action: (@action_name || 'new_question'), question_id: que_id, params:{que_count: (@questions || []).count, indx: params[:indx]}}, method: ((request.xhr? && params[:action]=="edit_question") ? 'PUT' : 'POST'), remote: true do |f| %>
  <div class="modal-body">
    <div class="form-field">
      <%= f.label :question %><br />
      <%= f.text_area :question, autofocus: true, class: 'form-control' %>            
    </div>
    <div class="new_question_options">
      <div class="answers_a_b">
        <div class="form-field">
          <%= f.label :answer_a %><br />
          <%= f.text_field :answer_a, class: 'form-control' %>            
        </div>
        <div class="form-field">
          <%= f.label :answer_b %><br />
          <%= f.text_field :answer_b, class: 'form-control' %>            
        </div>
      </div>
      <div class="answers_c_d">
        <div class="form-field">
          <%= f.label :answer_c %><br />
          <%= f.text_field :answer_c, class: 'form-control' %>            
        </div>
        <div class="form-field">
          <%= f.label :answer_d %><br />
          <%= f.text_field :answer_d, class: 'form-control' %>            
        </div>
      </div>
    </div>
    <div class="form-field">
      <%= f.label :right_answer %><br />
      <%= f.select :right_answer, ([['Answer a','answer_a'],['Answer b','answer_b'],['Answer c','answer_c'],['Answer d','answer_d']]), {}, {:class => 'form-control'} %>            
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary cancelQuestion" data-dismiss="modal">Cancel</button>
    <%= f.submit ((request.xhr? && params[:action]=="edit_question") ? "Update" : "Create"), class: 'btn btn-primary' %>
  </div>
  <script>
    function resetQuestionForm(){
      $.get("<%=new_question_faculty_index_path(question_id: que_id, popup_type: params[:action])%>")
    }
  </script>
<% end %>