<% if request.put? %>
	// $('form#edit_question_<%=params[:question_id]%>').replaceWith("<%= j(render partial: 'question_form', locals: {que_id: nil}) %>")
	$('tr#tr_question_<%=params[:question_id]%>').replaceWith("<%= j(render partial: 'question_tr', locals: {question: @question, indx: params[:indx]}) %>")
	$('.modal#facultyNewQuestion').modal('hide')
<% else %>
	$('form#new_question').replaceWith("<%= j(render partial: 'question_form', locals: {que_id: params[:question_id]}) %>")
	$('.modal#facultyNewQuestion').modal('show')
<% end %>