<div class="container">
  <h1 class="pb-5 py-3">Students</h1>

  <div class="card card-data">
    <div class="students-table-box">
      <table class="table table-hover table-striped table-sm students-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="table-success">First Name</th>
            <th scope="col" class="table-info">Last Name</th>
            <th scope="col" class="table-warning">Email</th>
            <th scope="col" class="table-primary">DOB</th>
            <th scope="col" class="table-danger">Score</th>
            <th scope="col" class="table-warning">Percentage</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="7" class="table-default"></td>
          </tr>
          <% if @students.present? %>
            <% @students.each_with_index do |student, indx| %>
              <tr>
                <th scope="row"><%= indx+1 %></th>
                <td class="table-success"><%= student.first_name %></td>
                <td class="table-info"><%= student.last_name %></td>
                <td class="table-warning"><%= student.email %></td>
                <td class="table-primary"><%= student.date_of_birth.inspect %></td>
                <%@result = Faculty.last.results.find_by_student_id(student.id)%>
                <td class="table-danger"><%= @result ? @result.score : 'N/A' %></td>
                <td class="table-warning"><%= @result ? @result.percentage : 'N/A' %></td>
              </tr>
            <% end %>
            <% if @students.total_pages>1 %>
              <tr>
                <td colspan="7" class="table-default"></td>
              </tr>
              <tr class="paginate_tr">
                <td colspan="7" class="table-active"><%= paginate @students %></td>
              </tr>
            <% end %>
          <% else %>
            <tr class="no_student_found">
              <td colspan="7" class="table-danger">No Student Assigned! Please contact to Admin.</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
