<% if request.post? %>
  $('.modal#facultyNewQuestion').modal('hide')
  $('table.questions-table tbody tr.no_question_found').remove()
  if ($('tr.question_tr').length<10) {
    <%indx = (Question.count%10)%>
    $('tr.question_tr').last().after("<%= j(render partial: 'question_tr', locals: {question: @question, indx: (indx.zero? ? 9 : indx-1)}) %>")
  } else if ($('tr.question_tr').length==0) {
    $('table.questions-table tbody').prepend("<%= j(render partial: 'question_tr', locals: {question: @question, indx: (indx.zero? ? 9 : indx-1)}) %>")
  } else {
    window.location = window.location.pathname+('?page=<%=(Question.count/10)+1%>')
  }
  $('form#new_question')[0].reset()
  $('form#new_question').attr('action', "<%= new_question_faculty_index_path(que_count: (params[:que_count].to_i+1)) %>")
<% else %>
  <% if params[:popup_type]=='edit_question' %>
    $('form#edit_question_<%=params[:question_id]%>').replaceWith("<%= j(render partial: 'question_form', locals: {que_id: nil}) %>")
  <% else %>
    $('form#new_question')[0].reset()
  <% end %>
<% end %>