<div class="container">
  <div class="pb-5 py-3 faculty_question_head_box">
    <div class="faculty_question_heading"><h1>Questions</h1></div>
    <div class="faculty_question_new_btn">
      <button class="btn btn-primary btn-sm float-right"  data-toggle="modal" data-target="#facultyNewQuestion" id="questionModalButton">
        New Question
      </button>
    </div>
  </div>

  <div class="card card-data">
    <div class="questions-table-box">
      <table class="table table-hover table-striped table-sm questions-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="table-success">Question</th>
            <th scope="col" class="table-info">Answer A</th>
            <th scope="col" class="table-primary">Answer B</th>
            <th scope="col" class="table-info">Answer C</th>
            <th scope="col" class="table-primary">Answer D</th>
            <th scope="col" class="table-warning">Right Answer</th>
            <th scope="col" class="table-danger"><i class="fa fa-edit"></i></th>
          </tr>
          <tr>
            <td colspan="8" class="table-default"></td>
          </tr>
        </thead>
        <tbody>
          <% if @questions.present? %>
            <% @questions.each_with_index do |question, indx| %>
              <%= render partial: 'question_tr', locals: {question: question, indx: indx} %>
            <% end %>
            <% if @questions.total_pages>1 %>
              <tr>
                <td colspan="8" class="table-default"></td>
              </tr>
              <tr class="paginate_tr">
                <td colspan="8" class="table-active"><%= paginate @questions %></td>
              </tr>
            <% end %>
          <% else %>
            <tr class="no_question_found">
              <td colspan="8" class="table-danger">No Questions Created!</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render partial: 'question_modal' %>