// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

form#new_user,form#new_faculty, form#new_student, form#edit_user,form#edit_faculty, form#edit_student {
  // width: 50%;
  input[type=date], select {
    width: calc(80% - 22px);
  }
  select {
    background: white;
    border: 1px solid #cbd2d7;
    border-radius: 3px;
    padding: 0.5%;
    width: 80% !important;
  }
}
