/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import 'faculty';
@import 'student';

// body.devise-sessions-new {
//   background: #999;
//   div#new_user_session {
//     // margin-top: 5%;
//   }
// }
body {
  padding-right: 0 !important;
  a#user_logout_btn {
    margin-left: 1%;
  }
}
