table.students-table, table.questions-table {
  margin-bottom: 0;
  td, th {
    text-align: center;
  }
}
.faculty_question_head_box {
  .faculty_question_heading, .faculty_question_new_btn {
    width: 49%;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
}

.modal#facultyNewQuestion {
  div.form-field {
    margin-bottom: 1%;
    textarea#question_question {
      min-height: 100px;
      max-height: 100px;
      min-width: 100%;
      max-width: 100%;
    }
  }
  .new_question_options {
    .answers_a_b, .answers_c_d, .right_answer {
      div.form-field{
        width: 49%;
        display: inline-block;
      }
    }
  }
}

.pagination {
  float: right;
  padding: 10px;
  display: inline-block;
  min-width: 50%;
  .previous_page {
    background: white;
    color: #666;
    font-weight: bold;
    border: 1px solid #666;
    border-radius: 5px 0 0 5px;
    padding: 5px;
    text-decoration: none;
  }
  .previous_page.disabled {
    color: #777;
    font-weight: normal;
  }
  .current {
    background: #999;
    color: black;
    border: 1px solid #666;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 1%;
  }
  a {
    background: white;
    color: #9f642d;
    border: 1px solid #666;
    padding: 5px 10px;
    text-decoration: none;
  }
  a:hover {
    background: skyblue;
    color: black;
  }
  .next_page {
    background: white;
    color: #666;
    font-weight: bold;
    border: 1px solid #666;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    text-decoration: none;
  }
  .next_page.disabled {
    color: #777;
    font-weight: normal;
  }
}

