body.student-index{
  a#user_logout_btn {
    margin-left: 1%;
  }
  table.students-table {
    margin-bottom: 0;
    td, th {
      text-align: center;
    }
  }
}

body.student-attempt {
  .questions-cards-box {
    .question-box {
      height: 75vh;
      overflow-y: scroll;
      padding: 1%;
      .question-card {
        padding: 2%;
      }
      .ansers_box {
        padding: 1%;
        margin: 1%;
        position: inherit;
        display: block;
        .answer {
          width: 47.5%;
          display: inline-block;
          padding: 1%;
          margin: 1%;
        }
      }
    }
    .submit_assignment input.btn.btn-success {
      float: right;
      margin: 2% 0;
    }
  }
}

.pagination {
  float: right;
  padding: 10px;
  display: inline-block;
  min-width: 50%;
  .previous_page {
    background: white;
    color: #666;
    font-weight: bold;
    border: 1px solid #666;
    border-radius: 5px 0 0 5px;
    padding: 5px;
    text-decoration: none;
  }
  .previous_page.disabled {
    color: #777;
    font-weight: normal;
  }
  .current {
    background: #999;
    color: black;
    border: 1px solid #666;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 1%;
  }
  a {
    background: white;
    color: #9f642d;
    border: 1px solid #666;
    padding: 5px 10px;
    text-decoration: none;
  }
  a:hover {
    background: skyblue;
    color: black;
  }
  .next_page {
    background: white;
    color: #666;
    font-weight: bold;
    border: 1px solid #666;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    text-decoration: none;
  }
  .next_page.disabled {
    color: #777;
    font-weight: normal;
  }
}

