<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#"><%= Rails.application.class.parent_name %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if current_user.type=='Faculty' %>
        <li class="nav-item <%= @action_set_name=='faculty-index' ? 'active' : '' %>">
          <a class="nav-link" href="<%= root_path %>">Students</a>
        </li>
        <li class="nav-item  <%= @action_set_name=='faculty-questions' ? 'active' : '' %>">
          <a class="nav-link" href="<%= questions_faculty_index_path %>">Questions</a>
        </li>
      <% else %>
        <li class="nav-item <%= @action_set_name=='student-index' ? 'active' : '' %>">
          <a class="nav-link" href="<%= root_path %>">Assignments</a>
        </li>
        <li class="nav-item <%= @action_set_name=='student-attempt' ? 'active' : '' %>">
          <a class="nav-link" href="<%= attempt_student_index_path %>">Take Test</a>
        </li>
        <!-- <li class="nav-item<%#= @action_set_name=='student-results' ? 'active' : '' %>">
          <a class="nav-link" href="<%#= results_student_index_path %>">Results</a>
        </li> -->
      <% end %>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <%= link_to 'Logout', destroy_user_session_path, class: 'btn btn-danger', id: "user_logout_btn" %>
  </div>
</nav>